.git
.vscode
.ipynb_checkpoints
/svgs/
/ui_ideas/
/screenshots/
/data/
package-lock.json
package.json
test.json
/jupyter-notebooks/
~$roject.docx


rest_api/__pycache__
rest_api/common/__pycache__
rest_api/resource_converter/__pycache__
rest_api/resource_exercises/__pycache__
rest_api/resource_trainings/__pycache__
rest_api/resource_users/__pycache__
rest_api/resource_analytics/__pycache__

rest_api/venv
to_do.txt
sample
app.conf.yaml
data.csv
debug.py