.git
.vscode
.ipynb_checkpoints
/svgs/
/ui_ideas/
/screenshots/
/data/
package-lock.json
package.json
test.json
/jupyter-notebooks/
~$roject.docx


app/__pycache__
app/common/__pycache__
app/resource_converter/__pycache__
app/resource_exercises/__pycache__
app/resource_trainings/__pycache__
app/resource_users/__pycache__
app/resource_analytics/__pycache__

app/venv
to_do.txt
sample
app.conf.yaml
data.csv
debug.py
frontend-v2/config.js