.git
.vscode
.ipynb_checkpoints
/svgs/
/ui_ideas/
/screenshots/
/data/
package-lock.json
package.json
test.json
/jupyter-notebooks/
~$roject.docx


app/venv
to_do.txt
sample
app.conf.yaml
data.csv
debug.py
frontend-v2/config.js

*/__pycache__
*/*/__pycache__