.cj-dashboard-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: auto;
    padding: 1rem;
}


.upload-buttons {
    display: flex;
    flex-direction: column;
    width: 20rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfileLabel {
    font-size: 1.1rem;
    font-weight: 700;
    color: black;
    background-color: var(--bg-body);
    display: inline-block;
    justify-items: center;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex: 1;
    border: black solid 1px;
}

#uploadFiles {
    font-size: 1.1rem;
    font-weight: 700;
    color: black;
    background-color: var(--bg-body);
    display: inline-block;
    justify-items: center;
    cursor: pointer;
    margin-top: 1rem;
    border: black solid 1px;
}

.inputfileLabel:hover {
    background-color: limegreen;
}

#uploadFiles:hover {
    background-color: limegreen;
}


.metricsTable, .metricsTable table, .metricsTable th, .metricsTable td {
    table-layout: fixed;
    background-color: white;
    border: #A9A9A9 1px solid;
    border-collapse: collapse;
}

.metricsTable th {
    text-align: left;
    height: 2rem;
    font-weight: normal;
}

.metricsTable td {
    font-size: 1rem;
    height: 2rem;
}

.metricsTable tr:hover td {
    background-color: #B2FFB2;
}

.metricsTable th:hover {
    background-color: #B2FFB2;
}



#resetZoomBtn {
    font-size: 1.0rem;
    margin: 0 3rem;
}

.navigate-jumps {
    font-size: 1.0rem;
    width: 50%;
    margin: auto;
    text-align: center;
    display: none;
}

#resetZoomBtn {
    display: none;
    padding: 0.3rem 0.6rem;
}

.navigate-jumps-btn {
    background-color: white;
    padding: 1rem 2rem;
    border: black solid 1px;
    cursor: pointer;
    letter-spacing: 0.1ch;
    font-size: 1.05rem;
}

.navigate-jumps-btn:hover {
    background-color: #b8b3b3;
}

#resetZoomBtn:hover {
    background-color: #b8b3b3;
}

#resetZoomBtn {
    background-color: white;
    border: black solid 1px;
    cursor: pointer;
    letter-spacing: 0.1ch;
    font-size: 1.05rem;
}


#myChart {
    margin: 1rem 0;
}